
.Understanding {
    text-align: center;
  }
  
  .Understanding-header {
    background-color: #f06dd8;
    min-height: 70px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
  }
  
  .Understanding-title {
    font-size: 2em;
  }
  
  .Understanding-intro {
    font-size: large;
  }
  
  h4 {
    font-style: italic;
  }
  #Understanding-input {
    margin-right: 50px;
  }